*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sans{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}
header{
    background: url(../images/developer.png), url(../images/header_bg.png), #FFF8F3;
    background-size: 75px auto, 40% auto;
    background-repeat: no-repeat;
    background-position: 
        left 60px top 30px,
        right bottom; 
}
.bb-color{
    color: #FD6E0A;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 230px;
}
header nav div h2{
    font-size: 45px;
}
header nav ul{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    list-style: none;
    gap: 45px;
}
header nav ul li{
    margin-right: 20px;
}
header nav ul li a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}
header nav ul li button {
    padding: 8px 18px;
    border: none;
    border-radius: 5px;
    background-color: #FD6E0A;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
.half-circle {
    width: 100px;
    height: 50px;
    background: orange;
    border-radius:100px 100px 0 0;
}
header img{
    height: 450px;
    padding-left: 20px;
}

/* ...........Hero Section.......... */

#banner{
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#banner .banner-content h2{
    font-weight: 500;
    margin-bottom: 20px;
    color: #474747;
}
#banner .banner-content h1{
    margin-bottom: 20px;
    font-size: 50px;
}
#banner .banner-content p{
    font-size: small;
    color: #474747;
    padding-right: 250px;
    padding-bottom: 30px;
}
#banner .banner-content .download-info{
    display: flex;
}
#banner .banner-content .download-info button{
    margin-right: 30px;
}
#banner .banner-content .download-cv{
    background-color: #FD6E0A;
    border: none;
    padding: 16px;
    color: white;
    font-size: medium;
    border-radius: 5px;
}
#banner .banner-content .contact{
    border: 1px solid #FD6E0A;
    background-color: #fff;
    padding: 16px;
    color: #FD6E0A;
    font-size: medium;
    border-radius: 5px;
}
#banner .banner-image img{
    max-width: 585px;
    vertical-align: middle;
}


/* ...........About me Section.......... */


#about-me{
    background-color: #FFF8F3;
    margin: 130px 230px;
    padding: 131px 156px;
}
#about-me h2{
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
#about-me .about-info{
    font-size: small;
    color: #474747;
    margin-bottom: 30px;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: center;
}
#about-me .personal-info{
    display: flex;
    justify-content: space-between;   
}
#about-me .personal-info {
    text-align: center;
    line-height: 25px;
}
#about-me .personal-info p{
    font-size: small;
    color: #474747;
}
#about-me .personal-info h4{
    color: #474747;
}


/* .........What i do........ */
#what-i-do{
    margin: 0 230px;
}
#what-i-do h2{
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
#what-i-do .what-i-do-info{
    font-size: small;
    color: #474747;
    margin-bottom: 30px;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: center;
    padding: 0 150px;
}
#what-i-do .our-language{
    display: flex;
    justify-content: space-between;
}
#what-i-do .our-language div{
    height: 330px;
    width: 250px;
    box-shadow: 0 2px 12px rgba(0,0,0,0.12);
    padding: 30px;
}
#what-i-do .our-language div img{
    padding-bottom: 30px;
}
#what-i-do .our-language div h4{
    padding-bottom: 20px;
    letter-spacing: 1px;
}
#what-i-do .our-language div p{
    font-size: small;
    color: #474747;
    margin-bottom: 30px;
    line-height: 20px;
    letter-spacing: 1px;
}


/* .............a-summary-of-my-resume.............. */
#a-summary-of-my-resume{
    margin: 130px 230px;
}
#a-summary-of-my-resume h2{
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 60px;
}
#a-summary-of-my-resume .about-cv{
    display: flex;
}
#a-summary-of-my-resume .about-cv .first-block{
    margin-right: 10px;
}
#a-summary-of-my-resume .about-cv .second-block{
    margin-left: 10px;
}
#a-summary-of-my-resume .about-cv h2{
    letter-spacing: 1px;
    margin-bottom: 30px;
    color: #474747;
}
#a-summary-of-my-resume .about-cv h3{
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #474747;
}
#a-summary-of-my-resume .about-cv h5{
    letter-spacing: 1px;
    margin-bottom: 30px;
    font-size: small;
    color: #474747;
}
#a-summary-of-my-resume .about-cv p{
    font-size: small;
    color: #474747;
    line-height: 20px;
    letter-spacing: 1px;
}
#a-summary-of-my-resume .about-cv hr{
    color: #d1d1d1;
}
#a-summary-of-my-resume .download-cv{
    background-color: #FD6E0A;
    border: none;
    padding: 16px;
    color: white;
    font-size: medium;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 100px;
}


/* ...........Footer Start........... */
#footer{
    background-color: #FFF8F3;
}
#footer .added-two-block{
    display: flex;
    padding: 130px 230px;
}
#footer .added-two-block h2{
    letter-spacing: 1px;
    margin-bottom: 30px;
    color: #474747;
}
#footer .added-two-block p{
    padding-right: 250px;
    font-size: small;
    color: #474747;
    margin-bottom: 30px;
}
#footer .added-two-block i{
    margin-right: 20px;
    color: #FD6E0A;
}
#footer .added-two-block form [type="text"], [type="email"]{
    width: 461px;
    height: 64px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
}
#footer .added-two-block form textarea{
    width: 461px;
    height: 180px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
    display: block;
}
#footer .added-two-block form [type="submit"]{
    background-color: #FD6E0A;
    border: none;
    padding: 16px 39PX;
    color: white;
    font-size: medium;
    border-radius: 5px;
}