*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sans{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}
header{
    background-color: #FFF8F3;
}
.bb-color{
    color: #FD6E0A;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}
header nav div h2{
    font-size: 45px;
}
header nav ul{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    list-style: none;
    gap: 45px;
}
header nav ul li{
    margin-right: 20px;
}
header nav ul li a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}
header nav ul li button {
    padding: 8px 18px;
    border: none;
    border-radius: 5px;
    background-color: #FD6E0A;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
.half-circle {
    width: 100px;
    height: 50px;
    background: orange;
    border-radius:100px 100px 0 0;
}
header img{
    height: 450px;
    padding-left: 20px;
}

/* ..................................... */
